.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: orange;   }
.tree          { background: gray;   }
.green         { background: green;   }
.bad           { background: teal;   }
.castle        { background: red;   }
.fence         { background: red;   }
.flag          { background: white;   }
.dark          { background: black;   }
.pole          { background: gray;   }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
